* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.container {
  margin-top: 1em;
}
.logo {
  display: block;
  max-width: 95%;
  margin-bottom: 1em;
}
.logo-small {
  max-width: 60%;
}
.instructions {
  font-size: 90%;
}
.list-indented {
  padding-left: 1em;
}
.list-spaced li {
  margin: 0.5em;
}
.list-nospaced li {
  margin: 0;
}
.mt {
  margin-top: 1em;
}
.mb {
  margin-bottom: 1em;
}
