{
	"env": {
		"browser": true
	},
  "extends": "google",
  "rules": {
      "no-var": 0,
			"max-len": 0,
      "indent": ["error", 4, { "ignoreComments":true }],
			"no-unused-vars": 1,
			"require-jsdoc": 1
  }
}
